<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="APP_NAME" value="percybuilder-hire-api"/>

    <property name="CONSOLE_LOG_PATTERN"
    value="%green(%d{HH:mm:ss.SSS}) %blue(%-5level) %red([%thread]) %yellow(%logger{36}) - %cyan(%msg%n)"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.percybuilder.jobportalapi" level="DEBUG"/>

    <logger name="org.springframework.security" level="INFO"/>
    <logger name="org.hibernate.SQL" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>